/* =================================
------------------------------------
	Titile: Bluer 

	Project: Online Store

	Author: Rene Morales
 ------------------------------------ 
 ====================================*/


 * {
 	margin: 0;
 	padding: 0;
 	text-decoration: none;
 	text-align: center;
 	list-style: none;
 	color: #1763BF;
 }

 html 
 body {
 	font-family: 'Source Sans Pro', sans-serif;
 }

 a {
 	text-decoration: none;
 }

 a:hover{
 	text-decoration: none !important;
 }


 /*header- section*/


.my-container {
 	max-width: 100%;
 	
 }

.first-row{
 	background: #e62739;

 	
 }

.top-info p {
	font-size: 12px;
	color: #f9f8fd;
	margin-top: 10px;
}

/* website logo section*/
.second-row{
 	background: #1d1e22;
 	padding-bottom: 20px;

 }
.site-logo {
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	margin-top: 20px; 
}


 /*nav section*/

 .third-row{
 	background: #1d1e22;
 	/*padding-bottom: 10px;*/
 }

 .header-top-left {
 	font-size: 14px;
 	text-transform: uppercase;
 	border-top: 1px solid #3d3d3f;
 }


 .main-menu li {
 	float: left;
 	margin: 20px;
 }

.header-top-right {
 	font-size: 14px;
 }

.user-panel {
	margin: 20px;
	float: right;

}

.user-panel a {
	margin-left: 40px;
}

/****************************************************************************/


.hero-section {
	background-image: url('/home/rene/Documents/software Engineer project/project/Bluer Online Store/img/banner.jpg');
	/*background-position: 10% 10%;*/
	background-repeat: no-repeat;
	width: 100%;
	padding-bottom: 100px;
}

.hero-text{
	padding-top: 350px;
}

.hero-text h2{
	text-transform: uppercase;
	margin-bottom: 20px;
	font-size: 47px;
	font-weight: 700;
	color: #0276FD;
	background: rgba(0, 0, 0, 0.6);
	margin-left: 30%;
	width: 400px;
	border-radius: 1%;
}

.hero-text p {
	font-size: 16px;
	font-weight: 600;
	border: 2px solid #0276FD;
	width: 300px;
	margin-left: 35%;
	padding: 10px;
	color: #0276FD;
	background: rgba(0, 0, 0, 0.7);
	text-transform: uppercase;
	letter-spacing: 2px;
}


/**********************************************************************************/

/*flex Center*/

 .flexCenter {
 	background-image: url('/home/rene/Documents/software Engineer project/project/Bluer Online Store/img/freestocks-org-182581-unsplash.jpg');
 	background-size: cover;
 	background-position: center;
 	background-repeat: no-repeat;
 	padding-bottom: 100px;

 }


.newDynoBox{
	padding-top: 200px;
	padding-right: 25%;
	/*background: rgba(0, 0, 0, 0.8);*/
}

.newDynoBox h1 {
	font-family: 'Anton', sans-serif;
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 6px;
	/*background: rgba(0, 0, 0, 0.6);*/
}

.newDynoBox h1 span {
	font-size: 60px;
	letter-spacing: 4px;
}

.newDynoBox p {
	font-family: 'Anton', sans-serif;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin: 10px 0 40px 0;
	color: purple;
}

.newDynoBox p span{
	color: #000;
	/*background: rgba(0, 0, 0, 0.1);*/
	background: #add8e0;
	font-weight: 700;
	padding: 2px;
}

.newDynoBox .shopGuys , .newDynoBox .shopGirls {
	background: rgba(0, 0, 0, 0.9);
	padding: 15px 40px;
	/* top | right | bottom | left */
	margin: 100px 20px 50px 20px;
	border: 1.5px solid #1763BF;
	text-transform: uppercase;
}

/*flex Center END*/ 

/*****************************************************************/

.fashion {
	background-image: url('');

}

 .five-row {
 	background: orange;
 	padding-bottom: 400px;
 }